.work1{
    text-transform: capitalize;
    color: rgb(36, 176, 4);
    text-align: center;
}
.c1{
    width: 300px;
    height: 50px;
    border: solid black;

}
.c2{
    width: 50px;
    height: 200px;
    border: solid black;
}
.c3{
    width: 200px;
    height: 200px;
    border: solid black;
}
h1{
    text-align: center;
    text-transform: capitalize;
    text-decoration: dotted;
    color: chartreuse;
    background-color: brown;
    font-size:xx-large;
}
.work2{
    border: solid black;
    padding: 20px;
    border-spacing: 20px;
}
    .pink{
    width: 50px;
    height: 50px;
    background-color: pink;
    padding: 20px;
    margin-right: 20px;
    border: solid black;
    
}
.skyblue{
    width: 220px;
    height: 50px;
    background-color: rgb(43, 161, 251);
    padding: 20px;
    border: solid black;
}
.yellow{
    background-color: rgb(250, 250, 4);
    width: 250px;
    height: 50px;
    border: solid black;
}
td:hover{
transform: scale(1.1);
background-color: rgb(35, 248, 31);
}
.work3{
    border: solid black;
    background-color: greenyellow;
    margin: 20px;
    text-align: center;
    text-transform: capitalize;
    border-spacing: 5px;
    
}
.header{
    width: 300px;
    height: 50px;
    border: solid black;
    background-color: green;
    
}
.menu1{
    width: 300px;
    height: 50px;
    border: solid black;
    background-color: skyblue;
    
}
.footer{
    width: 300px;
    height: 50px;
    border: solid black;
    background-color:orange;
    
}
.menu{
    width: 50px;
    height: 200px;
    border: solid black;
    background-color: blue;
    padding-top: 0%;
    
}
.content{
    width: 250px;
    height: 200px;
    border: solid black;
    background-color:purple;
    padding-top: 0%;
}
th:hover{
    transform: scale(1.1);
   background-color: red;
   color: aliceblue; 
}